@import url("https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--active-painel) transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

:root {
  /* CORES */
  --white: #f7f6e5;

  --black: #111111;
  --dark: #212121;
  --dark1: #333333;
  --dark2: #464646;
  --dark3: #5a5a5a;
  --dark4: #707070;

  --blue: #76d2db;
  --blue2: #36064d;
  --red: #da4848;
  --marron: #41431b;
  --maron2: #aeb784;
  --marron3: #e3dbbb;

  /* CORES RGBA*/
  --white-rgba: rgba(247, 246, 229, 1);

  --black-rgba: rgba(17, 17, 17, 1);
  --dark-rgba: rgba(33, 33, 33, 1);
  --dark1-rgba: rgba(51, 51, 51, 1);
  --dark2-rgba: rgba(70, 70, 70, 1);
  --dark3-rgba: rgba(90, 90, 90, 1);
  --dark4-rgba: rgba(112, 112, 112, 1);

  --blue-rgba: rgba(118, 210, 219, 0.1);
  --blue2-rgba: rgba(54, 6, 77, 1);
  --red-rgba: rgba(218, 68, 72, 0.7);
  --marron-rgba: rgba(65, 67, 27, 1);
  --maron2-rgba: rgba(174, 183, 132, 1);
  --marron3-rgba: rgba(227, 219, 187, 1);

  /* TAMANHOS */
  --w: 100svw;
  --h: 100svh;
  --p: 12px;
  --r: 4px;

  --wh-btn: 50px;

  --header: 80px;

  /* TEMA */
  --bg: var(--marron3);
  --bg-painel: var(--marron);
  --text-painel: var(--white);
  --line-painel: var(--dark);
  --active-painel: var(--red);
  --active-painel-rgba: var(--red-rgba);

  --text: var(--dark);
  --text-h1: var(--blue);
  --text-h1-rgba: var(--blue-rgba);

  /* z-index */

  --z-base: 1; /* elementos normais com empilhamento */
  --z-header: 100;
  --z-menu: 99;

  /* Renderização */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Mobile */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  /* Touch UI */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;

  /* Drag */
  -webkit-user-drag: none;

  user-select: none;
}

html,
body {
  width: var(--w);
  height: var(--h);
  max-height: var(--h);

  background-color: var(--bg);
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#app {
  width: var(--w);
  height: var(--h);
  max-height: var(--h);
  overflow: hidden;
  position: relative;
}

.page {
  width: var(--w);
  height: calc(var(--h) - var(--header));
  max-height: calc(var(--h) - var(--header));
  overflow-x: hidden;
  overflow-y: auto;
  padding: var(--p);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--wh-btn);
  height: var(--wh-btn);

  background-color: transparent;
  border-radius: var(--r);
  color: var(--white);
  box-shadow:
    0 0 2px var(--line-painel),
    inset 0 0 1px var(--line-painel);
  cursor: pointer;

  & i {
    font-size: 26px;
  }

  &:active {
    scale: 0.95;
  }
}

.btn-full {
  background-color: var(--bg-painel);
  border: solid 1px var(--bg-painel);
  font-weight: bold;
  width: 100%;
}

/* Barra de rolagem */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--active-painel);
  border-radius: 99px;

  &:hover {
    background-color: var(--dark3);
  }
}
